body {
    font-family:arial;
}

h3 {
    margin:0;
}

#table-wrapper {
    width:600px;

}

#parse-output {
    width:100%;
    font-size:.85em;
}
#q {
    width:100%;
    font-size:1em;
    font-family:arial;
}
td {
    padding:5px;
}

td#parse-query {
    min-height:200px;
}

/* -- BUTTONS --*/
#button-row {
    padding:5px;
    height:40px;
}
#do-parse {
    float:left;
}

#do-save {
    float:right;
}

/* ---------------- */
#stored-links {
    position:absolute;
    border:5px green inset;
    border-radius:5px;
    right:20px;
    top:300px;
    min-width:350px;
    min-height:200px;
    background-color:white;
    padding:7px;
}

.exparse-link:hover {
    cursor:pointer;
    color:purple;
    text-decoration: underline;
}

/* ---------------- */
#QDisplay {
    position:absolute;
    border:5px orange inset;
    right:20px;
    top:20px;
    min-width:350px;
    min-height:200px;
    padding:7px;
    background-color:white;
}

.display-name {
    font-size:1.2em;
    font-weight:bold;
}

.display-query-wrapper {
    margin:2px 0 10px;
}

.display-query {
    font-size:.9em;
    font-family:verdana;
}

div.qdom div.qdom {
    margin-left:30px;
}

div.qdom {
    border:lightgray solid thin;
    padding:5px;
    /*margin:5px;*/
}

div.qdom.compound {
    min-width:100px;
    min-height: 50px;
}

.field-name {
    background-color:lightcoral;
    padding:2px 5px;
}

.field-value {
    background-color:lightgreen;
    padding:1px 3px;
}

.connector {
    font-weight:bold;
}

#sample-queries {
    margin: 0 0 20px 100px;
}

.sample-query {
    font-family:"Gill Sans";
    margin:3px;

}

.sample-query:hover {
    cursor:pointer;
    color:purple;
    text-decoration: underline;
}

#note {
    padding:5px;
    border:thin solid red;
    margin:20px 20%;
    font-style:red;
    width:40%;
}
